/*!
  via 
  http://jsfiddle.net/xwrvxser/1/ 
  http://stackoverflow.com/questions/3029422/how-do-i-auto-resize-an-image-to-fit-a-div-container
  */

img {
    max-width: 100%;
    max-height: 100%;
}

.affiliate-badges {
    height: 80px;
}

